body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.sch-event {
    background-color: #BADA55 !important;
    border-color: plum;
    border-radius: 5px 5px 5px 5px;
}

.sch-event-inner {
    height: inherit;
    margin: 0;
    overflow: hidden;
    text-align: center;
    color: white;
    font-weight: bold;
}

.icon-delete
{
    background: transparent url(images/delete.png) no-repeat center center !important;
}